





<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-white bg-dark sticky-top" style="color: white" >
  		{% if request.user.is_authenticated %}
  		<a class="nav-link text-white " href="#">logged in as {{request.user}}</a>

  		 <a class="nav-link text-white " href="{% url 'logoutuser' %}">Logout</a>
  		 <a class="nav-link text-white" href="{% url 'storeinsulin' %}">Store Glucose Level</a>
  		 <a class="nav-link text-white" href="{% url 'analyze' %}">Analyze</a>
       <a class="nav-link text-white" href="{% url 'predict' %}">Predict</a>
  		 {% else %}
  		 <a class="nav-link text-white" href="{% url 'loginuser' %}">login</a>
  		 <a class="nav-link text-white" href="{% url 'signupuser' %}">Signup</a>




  		{% endif%}

</nav>



{% block content %}





{% endblock %}




<!--contact -->
<div class="jumbotron jumbotron-fluid bg-dark mt-5">
  <div class="container">
    <h4 class="display-4" style="color:gray;text-align: center">Contact</h4>
    
    <li style="color:gray;text-align: center">Phone: 01689249060</li>
    <li style="color:gray;text-align: center">Email: j.m.imtinan@gmail.com</li>
  </div>
</div>
<!--contact end -->



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>


