
{% extends 'diabetes/base.html' %}




{% block content %}





<div class="container">

  <div class="row">

    <div class="col-sm-4">

    </div>



    <div class="col-sm-4">


 {% if answer == 0 %}

<div class="alert alert-success" role="alert">
  You don't have diabetes!

</div>

{% else %}

<div class="alert alert-danger" role="alert">
  You  have diabetes!
   <br>
  (1). Donot take suger.
  <br>
  (2). Do exercise.
</div>


{% endif %}


    </div>


</div>

</div>




{% endblock %}




 

